---
# tasks file for logrotate

- name: Import assert.yml
  ansible.builtin.import_tasks:
    file: assert.yml
  run_once: true
  delegate_to: localhost

- name: Install logrotate
  become: yes
  ansible.builtin.package:
    name: "{{ logrotate_packages }}"
    state: present

- name: Configure logrotate
  become: yes
  ansible.builtin.template:
    src: "{{ logrotate_config_file }}.j2"
    dest: "{{ logrotate_config_directory }}/{{ logrotate_config_file }}"
    mode: "0644"

- name: Generate logrotate.d files
  become: yes
  ansible.builtin.template:
    src: entry.j2
    dest: "{{ logrotate_confd_directory }}/{{ item.name }}"
    mode: "0644"
  loop: "{{ logrotate_entries }}"
  when:
    - logrotate_entries is defined
    - item.state is not defined or item.state != "absent"
  loop_control:
    label: "{{ item.name }}"

- name: Remove logrotate.d files
  become: yes
  ansible.builtin.file:
    path: "{{ logrotate_confd_directory }}/{{ item.name }}"
    state: absent
  loop: "{{ logrotate_entries }}"
  when:
    - logrotate_entries is defined
    - item.state is defined
    - item.state == "absent"
  loop_control:
    label: "{{ item.name }}"

- name: Start logrotate
  become: yes
  ansible.builtin.service:
    name: "{{ logrotate_service }}"
    state: "{{ logrotate_service_state }}"
    enabled: "{{ logrotate_service_enabled }}"
  when:
    - logrotate_service != ""
